@import "tailwindcss";

:root {
    --background: #eaeefe;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #eaeefe;
        --foreground: #eaeefe;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@utility container {
    padding-inline: 20px;
    margin-inline: auto;

    @variant lg {
        padding-inline: 80px;
    }
}

@utility btn {
    @apply bg-black text-white px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight;
}

@utility btn-primary {
    @apply bg-black text-white;
}

@utility btn-text {
    @apply text-black bg-transparent;
}

@utility logo-ticker-image {
    @apply h-8 w-auto;
}

@utility tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight text-black;
}

@utility section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text;
}

@utility section-descripton {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E];
}

@utility section-heading {
    @apply max-w-[540px] mx-auto;
}

@utility card {
    @apply p-10 border border-[#F1F1F1] rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
}
